extends base

block site_body

  // Home
  section#home
    .container.hero
      .row.copy
        .col-md-8.col-md-offset-2
          h1=config.description
      .row
        .col-md-8.col-md-offset-2
          a.btn.btn-default.alt(href=config.contact_link) Work With Us
          a.btn.btn-default.alt(href='#about') Learn More

  section#about.content-section
    .container
      .row
        .copy.col-md-8.col-md-offset-2
          .about.wow.fadeIn
            h2.section-title A flexible team for your next project.
            p 
              span
              | Computer Lab is a full-service development shop that builds
              | websites, apps, libraries, firmware, renderers, archives: anything
              | virtual. We engineer beautiful solutions that shape and
              | accelerate our clients' goals in art, business, and beyond.
            p
              span
          .about.wow.fadeIn
            p
              | Computer Lab is also a research group. 
              | We publish writing and software informed by our consulting
              | work and host domain-specific events and residencies.
              | Get in touch to discuss your next project or arrange a visit to
              | our office in 
              a(target='_blank' href='https://www.google.com/maps/place/Computer+Lab/@40.720358,-74.0059364,19.49z/data=!4m13!1m7!3m6!1s0x89c2598ac53690e1:0x684ebca8b026f25c!2s260+W+Broadway,+New+York,+NY+10013!3b1!8m2!3d40.7206119!4d-74.0056692!3m4!1s0x0:0x29ce7dd0dcc4a944!8m2!3d40.7206119!4d-74.005669') TriBeCa
              | .
          .about.wow.fadeIn    
            p
              a.btn.btn-default.email(href='mailto:hi@computerlab.io?Subject=Inquiry') Email
              a.btn.btn-default.email(href=config.contact_link) Inquire
  section#projects.content-section
    .container
      .row
        .col-md-4.col-md-offset-1.bio.wow.fadeInLeft.iheart
          include _partial/svg/iheart-logo
          h4 On-site React Development
          p
            span
            | Computer Lab built on-demand streaming functionality 
            | into the 
            a(target='_blank' href='https://iheart.com') iHeartRadio
            |  web platform, enabling iHeart to 
            a(target='_blank' href='http://www.forbes.com/sites/hughmcintyre/2016/12/01/iheartradio-launches-new-on-demand-streaming-apps-to-compete-with-spotify/#134dceb91a90') launch
            |  their paid subscription service before Pandora. We worked alongside 
            a(target='_blank' href='https://tech.iheart.com/') iHeart's web team
            |  to scale the existing React application to millions of users.
        .col-md-4.col-md-offset-2.bio.wow.fadeInRight.artforum
          include _partial/svg/artforum-logo.svg
          h4 React Native App
          p 
            | Computer Lab worked with 
            a(target='_blank' href='https://artforum.com') Artforum
            |  to develop a native app
            | experience for their artguide feature. We tackled platform 
            | constraints to ensure that the app was a polished and essential 
            | tool matching the Artforum brand. Download the artguide app on 
            a(target='_blank' href='https://itunes.apple.com/us/app/artguide/id508043725?mt=8') iOS
            |  or 
            a(target='_blank' href='https://play.google.com/store/apps/details?id=com.artforuma') Android
            | .
      .row
        .col-md-4.col-md-offset-1.bio.wow.fadeInRight.giphy
          include _partial/svg/giphy-logo
          h4 Landing Page
          p
            span
            | To celebrate the the birthday of the GIF, Lab partnered with 
            a(target='_blank' href='https://twitter.com/giphyarts/status/875411758004961280') Giphy Arts 
            | to build an 
            a(target='_blank' href='https://www.historyofthegif.com/#/timeline/0') online exhibit 
            | of the format's 30-year history. The site, built quickly with Three.js, looked great projected on the wall at Giphy's 
            a(target='_blank' href='https://twitter.com/i/moments/875411092650020869') #HappyBirthdayGif
            |  party, and still works great on mobile devices.
        .col-md-4.col-md-offset-2.bio.wow.fadeInLeft.screen
          include _partial/svg/successkit-logo.svg
          h4 MVP
          p
            span
            | A Computer Lab team transformed wireframes for the case study management tool 
            a(target='_blank' href='https://successkit.io') SuccessKit
            |  into a polished, extensible MVP in just a few months. 
            | Computer Lab established a sound engineering culture and was able 
            | sucessfully hand off the project to 
            | the SuccessKit team.
      .row
        .col-md-4.col-md-offset-1.bio.wow.fadeInRight.verdes
          include _partial/svg/verdes-logo
          h4 Landing Page
          p 
            span We created an interactive 3D landing page for a marketing data visualization tool launched by 
            a(target='_blank' href='http://verdes.nyc') Verdes
            | , a creative agency in NYC. The 
            a(target='_blank' href="http://pinpoints.io") PinPoints
            |  build convinced us that React’s declarative components are a great fit for developing 3D user interfaces in the browser.
        .col-md-4.col-md-offset-2.bio.wow.fadeInLeft.screen
          include _partial/svg/screen-logo
          h4 CMS and DevOps
          p 
            a(target='_blank' href='http://onscreentoday.com') Screen
            |  is a curatorial collective based in New York, Beijing and Berlin. We worked closely with staff to improve the performance and user experience of their bilingual media platform. We reduced site loading speed, simplified content management and delivered an engaging experience to a global audience.
  section#domains.content-section
    .container
      .row
        .col-md-offset-2.col-md-8.col-xs-12.wow.fadeIn
          h2.wow.fadeIn Great engineering paired with domain expertise. 
      .row
        .col-md-offset-2.col-md-8.col-xs-12.wow.fadeIn
          h3 The Arts
          p For our arts clients, we take care to develop solutions that will be sustainable within the context of their organization. Our long-term engagement with creative communities means we have a personal interest in seeing arts projects succeed.  
      .row
        .col-md-offset-2.col-md-8.col-xs-12.wow.fadeIn
          h3 Healthcare and Biotech
          p We'll be your partner as you navigate the unique regulatory and technical challenges of bioinformatics projects. Our team has years of experience working with industry leaders like Flatiron Health and we're passionate about building better health information systems.  
      .row
        .col-md-offset-2.col-md-8.col-xs-12.wow.fadeIn
          h3 Rapid Prototyping
          p Computer Lab can rapidly form specialized teams to tackle MVP builds with highly involved technical, data science, or design needs. Our process ensures well-documented, world-class software engineering that will de-risk your project.
    //.container
      .list-of-domains
        .row
          .col-md-4.wow.fadeIn
            .service
              ul
                li AWS Data Pipeline
                li Airflow
                li HIPAA Compliance, EMRs
                li Schema Design
                li Postgres, MongoDB
                li Firebase
                li Apache Kafka
          .col-md-4.wow.fadeIn
            .service
              ul
                li Branding
                li Responsive Design
                li Ad Tech
                li Social Automation
                li SEO
                li Asset Creation
                li Content Strategy
          .col-md-4.wow.fadeIn
            .service
              ul
                li React, Electron
                li Django
                li iOS and Android
                li Wordpress, Hexo and Jekyll
                li Docker and Ansible
                li Webpack
                li ThreeJS



  // Featured Post
  section#feature-post.content-section
    .container
      .row
        .col-md-8.col-md-offset-2
          h2.section-title.wow.fadeIn
            a(href=config.feature_note_path)=config.feature_note_title
          h5.info.wow.fadeIn=config.feature_note_author + ' - '
            span.date=config.feature_note_date
          p.wow.fadeIn=config.feature_note_excerpt + ' '
            span
            a.readmore(href=config.feature_note_path) Read More
          a.btn.btn-default.wow.fadeIn.read-more(href='/blog/') Blog

